service servicemanager /system/bin/servicemanager
    class core
    user system
    group system
    critical
# LGE_BROADCAST_ONESEG && LGE_BROADCAST_TDMB {
    onrestart restart broadcast
# LGE_BROADCAST }
